*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #f8f7f3;
}

body,
h1,
p {
  margin: 0;
}

button,
input {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
